<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {%- include social.html -%}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            <li><a href="/assets/ivfdf_privacy_policy.pdf">Privacy Policy</a>
            <li><a href="/assets/ivfdf_child_protection_policy.pdf">Child Protection Policy</a>
        </ul>
        IVFDF 2021 is brought to you with the support of <a href="https://www.sifd.org">SIFD</a><img src="/assets/ad_sifd.png" alt="SIFD logo" height=20 width=20 /> 
      </div>


      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
