.hw_required {
    color: blue;
    text-shadow: 0 0 8px rgb(0, 0 , 255);
}

.hw_supported {
    color: green;
    text-shadow: 0 0 8px rgb(0, 255, 0);
}

.hw_unsupported {
    color: transparent;
    text-shadow: 0 0 0 rgb(200,200,200);
}

h1 {
    clear: both;
}
