---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign day_format = "%A %-d" -%}
        {%- assign time_format = "%H:%M" -%}
        {{ page.date | date: day_format }}  {{ page.date | date:time_format }}-{{ page.ends | date:time_format }}
      </time>
      {%- if page.location -%}
      <br />Location: {{ page.location }}
      {%- endif -%}
      {%- if page.organiser -%}
      <br />Organiser: {{ page.organiser }}
      {%- endif -%}
      {%- if page.caller -%}
      <br />Calling: {{ page.caller }}
      {%- endif -%}
      {%- if page.musician -%}
      <br />Music: {{ page.musician }}
      {%- endif -%}
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
